*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}



body {
    background-color: var(--color-secondary);
}

       /*               #header css               */
.header {
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 400px;
}
 .site-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .site-info .heading{
      text-align: center;
      font-weight: 300;
      font-size: 4rem;
      text-transform: uppercase;
    }
    .site-info .description{
         font-size:1.5rem;
         font-weight: 700;
         font-style: italic;
         color:var(--color-primary)
    }
    .navbar{
        background-color: var(--color-primary);
    }
    .navbar ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex-direction: column;
    }

  .navbar ul li {
    flex-grow: 1;
    text-align: center;
  }
  
  .navbar ul li a {
    display: block;
    color: var(--color-dark);
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.625rem;
    transition: all .3s ease-in-out;
  }

  .navbar ul li a:hover,
  .navbar ul li a:active,
  .navbar ul li a:focus{
    background-color: var(--color-dark);
    color: var(--color-primary);
  }

    /*main content css*/
.main-content-area {
    padding: 1.25rem;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post{
  margin-bottom: 1.875rem;
}
.post-img {
  height: 280px;
}
.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post h2{
  background-color: var(--color-primary);
  padding: 1.875rem;
  text-align: center;
  color: var(--color-dark);
}
.post p{
  color: var(--color-dark);
  padding: 2.5rem;
  background-color: var(--color-white);
}
.sidebar-right {
    background-color: blueviolet;
}

            /*footer css*/
.footer {
    background-color: var(--color-dark);
    color: var(--color-white);
}

@media all and (min-width:600px){
    .navbar ul{
        flex-direction: row;
      }
}

@media all and (min-width:1200px){
      .content-area{
        display: flex;
      }
      .post-half{
        width: 49%;
      }
      .post-one-third{
        width: 32%;
      }
      .navbar ul{
        flex-direction: row;
      }

      .post-img{
        height: 450px;
      }

}